$font-base: 'Roboto', sans-serif;
$dark-primary: rgb(26, 26, 26);
$dark-secondary: rgb(44, 44, 44);
$profile-picture: 80px;
$frame-picture: 100%;

.header {
    margin: 3rem auto;
    max-width: 300px;
    font-family: $font-base;

    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.title {
    font-size: 1.125rem;
    font-weight: 500;
    color: $dark-primary;
}

.description {
    color: $dark-secondary;
}