$font-base: Roboto;

$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;

$dark-primary: rgb(26, 26, 26);
$dark-secondary: rgb(44, 44, 44);
$bg-light: #f4f4f4;

$profile-picture: 80px;
$square: 1;
$object-cover: cover;